# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Local backend values (contains account names / internal details)
infra/backend.hcl

# Terraform plan files
*.tfplan
*.plan
